
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
    --conatainer:rgb(253, 251, 251);
    /* --theme: rgb(78, 144, 231); */

    --theme: rgb(10, 154, 190);
    --theme_hover: rgba(168, 232, 248, 0.514);

    --tag_grey: rgba(235, 232, 232, 0.774);
    --font_tag_grey: rgb(51, 51, 51);
    --hover: rgba(150, 150, 150, 0.555);
    --shadow:rgba(218, 218, 218, 0.795);
    }
    ::selection{
        color: #fff;
        text-shadow: 2px 2px #000;
        background-color: rgba(0, 139, 182, 0.966);
    }

    /* custom font from google font */
    @font-face{
        font-family: Logo;
        src: url("font/CormorantGaramond-Medium.ttf");
    }
    /* 1 REM = 16px */
    body{
        font-family: 'Overpass', sans-serif;
    }
    .hr hr{
        border: none;
        background-color: var(--tag_grey);
        height: 2px;
        width:70%;
        margin: 10px auto;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    /* container...... */
    .container{
        background: var(--conatainer);
        margin: auto;
        padding: auto ;
        width: 100%;
        min-width: 500px;
        height: 100%;
        border-radius: 5px;
        position: relative;
    }
    /* sizing main elements */
    .head, .mid, .btm{
        width: 100%;
        height: auto;
    }
    .mid, .btm{
        margin: 60px auto 10px;
    }
    .mid > .wrap_cont, .btm > .wrap_cont{
        margin: auto;
        width: 95%;
    }
    /* wrapped content */
    .wrap_cont{
        margin: auto;
    }
    /*styling have a look at and about us */
    .wrap_cont > h2{
        color: var(--theme);
        padding-left: 10px;
        padding-top: 10px;
        margin: 20px auto;
        text-transform: uppercase;
        border-bottom: 2px solid var(--theme);
    }
 /* head portion...... */
    .head{
        background-image: linear-gradient(#fff 10%, transparent 80%),url(images/Rani-Ki-Vav.jpg);
        width: 100%;
        height: 500px;  /* width and height is necessary for parent bcoz img is 100%*/
        background-size: 100% 100%;
    }
    .head .logo{
        cursor: pointer;
    }
    .head .logo > h2{
        font-size: 35px;
        letter-spacing: 2px;
        font-family: logo;
    } 
    .head .logo span.site_tagline{
        text-transform: capitalize;
    }
    /* align items in row...inside head */
    .head > div.nav{
        margin-top: 20px;
        max-width: 95%;
        display: flex;
        justify-content: space-around;
    }
    
    /* menubar styling........ */
    .items ul li{
        list-style-type: none;
    }
    .items ul.menu{
        display: flex;
    }
    .items ul.menu > li{
        margin: 5px 10px;
    }
    .items ul li a{
        display: block; /*this property will solve total width error of anchor ele. in li ele.*/
        text-transform: uppercase;
        width: 100%;
        padding:5px 15px ;
        margin: 3px 0;
        border-radius: 5px;
        background-color: var(--tag_grey); 
    }
    .items ul.sub_menu{
        position: absolute;
        margin-top: 7px;
        padding: 3px;
        border-radius: 5px;
        background-color: rgb(235, 232, 232);
        opacity: 0;
        visibility: hidden;
        transition: all ease-in 0.1s;
    }
    /* hovering menu and sub menu ......*/
    .items ul li > a:hover, .items ul li > a:focus{
        outline: none;
        background-color:var(--hover) ;
    }
    .items ul > li:hover ul.sub_menu, .items ul > li:focus ul.sub_menu{
        display: block ;
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        z-index: 1;
    }
    /*search bar....*/
    .head .srch{
        height:60px;
        width: 70%;
        max-width: 600px;
        position: relative;
        margin: 65px auto 0;
        border-radius: 5px;
    }
    .srch > input[type=text]{
        width: 100%;
        height: 100%;
        padding-left: 15px;
        font-size:25px;
        border: none;
        border-radius: 5px;
        outline: none;
    }
    .srch > input[type=text]::placeholder{
        color: var(--theme);
    }
    .srch > input[type=text]:hover, .srch > input[type=text]:focus{
        border: 3px dashed var(--theme);
        caret-color: var(--theme);
    }
    /* search icon , @fontAwesome */
    .head .srch i{
        font-size:25px ;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translate(-50%,-50%);
        cursor: pointer ;
    }
    .head .srch i:active{
        color: var(--theme);
    }
/* middle portion of site... */

    .main_place{
        background-color: var(--tag_grey);
        border-radius: 5px;
        padding: 10px;
        text-align: justify;
    }
    .main_place h2, .other_places h2{
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: logo;
        cursor: pointer;
    }
    .other_places h2{
        color: #fff;
        background: linear-gradient(to right, var(--theme), 
                                            rgba(255, 255, 255, 0.185) 80%  );
    }
    .other_places h2 > a{
        color: #fff;
    }
    .p_tags{
        margin: 10px;
    }
    .p_tags_btm{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .p_tags span.title{
        color: var(--theme);
        text-transform: capitalize;
        padding: 5px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    .p_tags a{
        color: #000;
        background-color: var(--theme_hover);
        padding: 5px;
        border-radius: 3px;
        margin: auto 5px;
        outline: none;
    }
    .p_tags_btm a{
        color: var(--font_tag_grey);
        font-weight: 600;
    }
    .p_tags a:hover, .p_tags a:focus{
        background-color: var(--hover);
    }
    /* article grid view */
    .other_places{
        width: auto;
        padding: 25px 0 ;
        border-radius: 5px;
        display: flex;  
        /* flex-wrap: wrap;
        justify-content: center; */
        overflow-x: scroll;
        /* background-color: var(--tag_grey); */
    }
    
    .other_places .place_grid{
        margin: 15px;
        height: 400px;
        width: 40%;
        min-width: 450px;
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
        /* background-color: var(--conatainer); */
        transition: all 0.3s;
    }
    .other_places .place_grid:hover{
        transform: scale(1.02);
        box-shadow: 0px 10px 20px 5px var(--shadow);

    }
    .other_places .place_grid:target{
        transform: scale(1.1);
        box-shadow: 5px 10px 15px 5px var(--shadow);
    }

    /* image in place_grid view */
    #kl{
        background-image: url(images/kankaria.jpg);
        background-size: 100% 100%;
    }
    #jm{
        background-image: url(images/jamaMosque.jpg);    
        background-size: 100% 100%;
    }
    #st{
        background-image: url(images/kankaria.jpg);
        background-size: 100% 100%;
    }
    #rkv{
        background-image: url(images/Rani-Ki-Vav.jpg);
        background-size: 100% 100%;
    }
    /* setting up hover effect for gtrid view */
    .other_places div.p_tags,
    .other_places div.p_tags + article{
        display: none   ;
    }
    .place_grid:hover div.p_tags,
    .place_grid:hover div.p_tags + article{
        display: block;
    }
    #jm:hover, #kl:hover, #st:hover, #rkv:hover{
        background-image: linear-gradient( white, var(--theme_hover));
    }

    article::first-letter{
        color: var(--theme);
        font-size: 35px;
        font-family: logo;
    }
    /* hidden places */
    .hid_place > .place_info{
        display: none;
        background-color: aquamarine;
        width: 100vw;
        height: 50vh;
    }
    .place_info:target{
        display: block;
    }

/* bottom portion */
    .btm{
        background-color: var(--tag_grey);
        height: 10rem;
    }
    .abtUs p > a{
        color: var(--theme);
    }
    /* Animations .....*/
    @keyframes h_light {
        0% {background-color: rgba(14, 102, 255, 0.199);}
        100% {background-color: transparent;}
    }


    /* For Responsive site .....*/
    @media screen and (max-width: 680px) {

        .head > div.nav{
            display: block;
            margin: auto;
            width: 50%;
        }
        .head .logo > h2{
            font-size: 50px;
        }
        .items ul.menu{
            display: block;
        }
        .items > ul.menu a, .items ul.sub_menu{
            background-color: #fff;
        }
        
        /* .other_places{
            overflow-x: hidden;
            flex-wrap: wrap;
            justify-content: center; 
            flex-direction: column;
            align-items: center;
        } */

        .other_places .place_grid{
            height: 300px;
            min-width: 350px;
            overflow: hidden;
        }
  }